{% extends 'config/config.html.twig' %}
{% block main %}
    <div class="row my-2">
        <div class="col">
            <h3>Configuration des thèmes</h3>
        </div>
    </div>
    <div class="row">
        {# Form Builder #}
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card">
                <div class="card-body">
                    {{ form(formConfigTheme) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <ul class="list-group font-weight-bold">
            {% for theme in themes %}
                <li class="list-group-item">{{theme.name}}</li>
            {% else %}
                Aucun thème trouvé.
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/javascript/backoffice.js"></script>
{% endblock %}